@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import 'components/_variables';

body {
	// height: 100vh;
	// display: grid;
	// grid-template-columns: 1fr minmax(25rem, 0.25fr);
	// grid-template-rows: min-content 1fr;
	// grid-column-gap: 0px;
	// grid-row-gap: 0px;
	color: var(--color-text-icon-default);
	@extend .t400;
	perspective: 500px;
}

* {
	outline-offset: 0px;
	transition: outline-offset 0.2s cubic-bezier(.17,.84,.44,1);
}

*:focus-visible {
	outline-color: var(--color-accent-500);
	outline-offset: 2px;
	outline-width: 2px;
	outline-style: solid;
}

svg {
  fill: currentColor;
}

// Components
@import 'components/_dialog';
@import 'components/_button';
@import 'components/_input';
@import 'components/_textarea';
@import 'components/_segmented_control';
@import 'components/_slider';
@import 'components/_toast';
@import 'components/_color_row';
@import 'components/_form_field';
@import 'components/_tooltip';


// Layout

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	padding: 0 calc(var(--padding) * (2 / 3));
	background: var(--color-background-surface);
	box-shadow: var(--effect-border-bottom);
}

.header__start {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.header__end {
	display: inline-flex;
	gap: .75rem;
	align-items: center;
}

.logo__title {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 0.5rem;
	& h1 {
		color: var(--color-text-icon-strong);
	}
	& span {
		color: var(--color-text-icon-muted);
	}
}

.main {
	position: relative;
	display: flex;
	height: calc(100vh - var(--header-height));
	overflow: auto;
}

.aside {
	display: flex;
	flex-direction: column;
	background: var(--color-background-surface);
}

.aside--settings {
	max-width: 25rem;
	gap: 2rem;
	overflow: auto;
	padding: var(--padding);
	box-shadow: var(--effect-border-left);
}

.aside--toolbar {
	justify-content: space-between;
	gap: 1rem;
	padding: calc(var(--padding) / 3);
	box-shadow: var(--effect-border-right);
}

.divider {
	height: 1px;
	background-color: var(--color-border-default-alpha);
	border: none;
}

.divider--vertical {
	height: 1.5rem;
	width: 1px;
}

.background-control {
	display: grid;
	border-radius: var(--radius-medium);
	background: var(--color-background-surface);
	overflow: hidden;
	box-shadow: var(--effect-elevation-1dp);
}

.background-control__color {
	position: relative;
  height: 100%;
  width: 2.25rem;
	aspect-ratio: 1 / 1;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-collapse: collapse;
	border-radius: 0;
	outline: none;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		background: url('../src/checker-grid.svg');
		background-size: auto;
    opacity: 1;
	}
	&:hover {
		&:before {
			opacity: .5;
		}
	}
}

.viewport {
	flex: 1;
	overflow: auto;
	padding: var(--padding);
	&:hover {
		background-image: url('../src/checker-grid.svg');
		background-size: auto;
	}
}

.viewport--inverted:hover {
	background-image: url('../src/checker-grid-dark.svg');
}

.color-list {
	display: flex;
	flex-direction: column;
	--color-list-gap: 0.5rem;
	gap: var(--color-list-gap);
	list-style: none;
}
