@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import 'components/_variables';

body {
	max-width: 1440px;
	min-width: 1024px;
	margin: 0 auto;
	perspective: 500px;
	background: var(--color-background-default);
	color: var(--color-text-icon-default);
	@extend .t400;
}

*:focus-visible {
	outline-color: var(--color-accent-500);
	outline-offset: 2px;
	outline-width: 2px;
	outline-style: solid;
}

svg {
  fill: currentColor;
}

a, a:visited {
	text-decoration: none;
	color: var(--color-accent-500);
	&:hover {
		color: var(--color-accent-400);
	}
}

// Components
@import 'components/_dialog';
@import 'components/_button';
@import 'components/_input';
@import 'components/_textarea';
@import 'components/_segmented_control';
@import 'components/_slider';
@import 'components/_toast';
@import 'components/_color_row';
@import 'components/_form_field';
@import 'components/_tooltip';


// Layout

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	padding: 0 calc(var(--padding) * (1 / 2));
}

.header__start {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
}

.header__end {
	display: inline-flex;
	gap: .75rem;
	align-items: center;
}

.logo__title {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	gap: 0.5rem;
	& h1 {
		color: var(--color-text-icon-strong);
	}
	& span {
		color: var(--color-text-icon-muted);
	}
}

.main {
	position: relative;
	display: flex;
	height: calc(100vh - var(--header-height));
}

.aside {
	display: flex;
	flex-direction: column;
}

.aside--settings {
	max-width: 25rem;
	gap: 2rem;
	overflow: auto;
	padding: var(--padding);
}

.aside--toolbar {
	justify-content: space-between;
	gap: 1rem;
	padding: calc(var(--padding) / 3);
}

.divider {
	height: 1px;
	background-color: var(--color-border-default-alpha);
	border: none;
}

.divider--vertical {
	height: 1.5rem;
	width: 1px;
}

.background-control {
	display: grid;
	border-radius: var(--radius-medium);
	background: var(--color-background-surface);
	overflow: hidden;
	box-shadow: var(--effect-elevation-1dp);
	&:focus-within {
		@extend *:focus-visible
	}
}

.background-control__color {
	position: relative;
  height: 100%;
  width: 2.25rem;
	aspect-ratio: 1 / 1;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-collapse: collapse;
	border-radius: 0;
	outline: none;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		background: url('../src/checker-grid.svg');
		background-size: auto;
    opacity: 1;
	}
	&:hover {
		&:before {
			opacity: .5;
		}
	}
}

.viewport {
	flex: 1;
	overflow: auto;
	padding: var(--padding);
	border-radius: var(--radius-large) var(--radius-large) 0 0;
	box-shadow: var(--effect-elevation-1dp);
	&:hover {
		background-image: url('../src/checker-grid.svg');
		background-size: auto;
	}
}

.viewport--inverted:hover {
	background-image: url('../src/checker-grid-dark.svg');
}

.color-list {
	display: flex;
	flex-direction: column;
	--color-list-gap: 0.5rem;
	gap: var(--color-list-gap);
	list-style: none;
}
