.form-field {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-field--group {
	padding: 1rem;
	border-radius: var(--radius-medium);
	border: 1px solid var(--color-border-default-alpha)
}

.form-field__header {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}

.form-field__header__label {
	@extend .t400-strong;
	color: var(--color-text-icon-default);
}

.form-field__header__label--secondary {
	@extend .t300-strong;
	color: var(--color-text-icon-muted);
}

.form-field__header__caption {
	@extend .t300;
	color: var(--color-text-icon-muted);
}