.textarea {
  resize: none;
	border: none;
	padding: 1rem;
	border-radius: var(--radius-medium);
	background: var(--color-background-surface);
	color: var(--color-text-icon-default);
	@extend .t400;
	box-shadow: var(--effect-elevation-1dp);
	&::placeholder {
		color: var(--color-text-icon-placeholder);
	}
  &:read-only {
    box-shadow: none;
    background: var(--color-background-default);
  }
}
.textarea--code {
  @extend .c300;
}

.textarea--full {
	flex-grow: 1;
}

.textarea--read-only {
  flex-grow: 1;
	position: relative;
}

.textarea--read-only__child {
	width: 100%;
	height: 100%;
}

.textarea--read-only__button {
	position: absolute !important;
	top: 1rem;
	right: 1rem;
}