.toast {
  z-index: 999;
  position: fixed;
  bottom: var(--padding);
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem .75rem;
  color: var(--color-text-icon-default);
  background-color: var(--color-background-surface);
  @extend .t400;
  border-radius: var(--radius-medium);
  box-shadow: var(--effect-elevation-2dp);
  animation: showHideToast var(--animation-timing) var(--animation-easing) forwards;
}

@keyframes showHideToast {
  from {
    transform: translateX(-50%);
    opacity: 1;
  }
  to {
    transform: translateX(-50%) translateY(4rem) scale(.95);
    opacity: 0;
  }
}