.tooltip {
	position: relative;
	--tooltip-offset: .5rem;
	&:after {
		content: attr(data-title);
		position: absolute;
		opacity: 0;
		visibility: hidden;
		z-index: 9999;
		padding: 0.25rem 0.5rem;
		background: var(--color-background-surface);
		border-radius: var(--radius-small);
		color: var(--color-text-icon-muted);
		box-shadow: var(--effect-elevation-2dp);
		@extend .t300;
		white-space: nowrap;
	}
	&:hover:after, &:focus-visible {
		opacity: 1;
		visibility: visible;
		transition: all var(--animation-timing) var(--animation-easing) 250ms;
	}
	&:active:after {
		opacity: 0;
		visibility: hidden;
		transition: none;
	}
}

.tooltip--bottom {
	&:after {
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
	}
	&:hover:after {
		top: calc(100% + var(--tooltip-offset));
	}
}

.tooltip--right {
	&:after {
		top: 50%;
		left: 100%;
		transform: translateY(-50%);
	}
	&:hover:after {
		left: calc(100% + var(--tooltip-offset));
	}
}

.tooltip--left {
	&:after {
		top: 50%;
		right: 100%;
		transform: translateY(-50%);
	}
	&:hover:after {
		right: calc(100% + var(--tooltip-offset));
	}
}